<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- for cordova SQLite -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter" ng-controller="doneCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Results</h1>
      </ion-header-bar>
      <ion-content>
        <!-- Begin Button -->
        <div class="bottom">
        </div>
        <ul>
          <br><br><br><br>
          <h2 class="title" align="center" ng-model="$parent.score">{{$parent.score}}</h2>
          <br><br><br><br><br>
          <div class="bottom">
            <div align="center">
              <button class="button button-royal button-large" ng-click="onDone()">Done</button>
            </div>
          </div>
          <!-- <li class="button button-full" ng-repeat="person in listOfPeople"><a href="#">First Name: {{person.firstName}}</a></li>
          <li class="button button-full" ng-repeat="person in listOfPeople" ng-click="deletePerson(person)">
            Name: {{person.firstName}} {{person.lastName}} <br>Phone: {{person.phoneNumber}} <br>Email: {{person.email}}</li> -->
        </ul>
      </ion-content>
    </ion-pane>
  </body>
</html>
