<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- for cordova SQLite -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter" ng-controller="imageQuestionCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Image Question</h1>
      </ion-header-bar>
      <ion-content>
        <!-- Begin Button -->
        <div class="bottom">
        </div>
        <ul>
          <div align="center">
            <img src="img/six_times_five.gif" alt="6x5" align="center">
          </div>
          <div class="bottom" align="center">
            <button class="button button-energized button-large button-" ng-click="onNext(30)">30</button>
            <button class="button button-calm button-large" ng-click="onNext(35)">35</button>
            <button class="button button-balanced button-large" ng-click="onNext(25)">25</button>
          </div>
          <br>
          <!-- <div class="bottom">
            <div align="center">
              <button class="button button-royal button-large" ng-click="onNext()">Next [for testing]</button>
            </div>
          </div> -->
          <!-- <li class="button button-full" ng-repeat="person in listOfPeople"><a href="#">First Name: {{person.firstName}}</a></li>
          <li class="button button-full" ng-repeat="person in listOfPeople" ng-click="deletePerson(person)">
            Name: {{person.firstName}} {{person.lastName}} <br>Phone: {{person.phoneNumber}} <br>Email: {{person.email}}</li> -->
        </ul>
      </ion-content>
    </ion-pane>
  </body>
</html>
